@import '../../../../src/scss/abstracts/all.scss';

// Call all variables 
.etape {
    margin-top: 50px;
    .content {
        flex-direction: column;
        gap: 30px;

        .item {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            figure {
                width: 50%;
                aspect-ratio: 2/1.5;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 30px;
                }
            }

            .text {
                background-color: white;
                border-radius: 30px;
                padding: 30px;
                height: fit-content;
                width: 40vw;
                position: relative;
                left: -10%;
                right: unset;
                p{
                    margin-bottom: 10px;
                }
            }

            &:nth-child(2n + 1) {
                flex-direction: row-reverse;

                .text {
                    right: -10%;
                    left: unset;
                }
            }
            @include breakpoints(sm, max){
                flex-direction: column;
                gap: 20px;
                &:nth-child(2n + 1) {
                    flex-direction: column;
                    gap: 20px;
                    .text {
                        right: unset;
                        left: unset;
                    }
                }
                figure{
                    width: 100%;
                }
                .text{
                    width: 100%;
                    left: unset;
                    right: unset;
                }
            }
        }
    }
}