.button {
    color: $white;
    text-decoration: none;
    background-color: var(--green);
    border-radius: 100vw;
    padding: 5px 20px 0;
    font-family: $secondary-font-family;
    letter-spacing: 0.05em;
    font-size: 1.2em;
    text-align: center;
    width: 100%;
    border: 1px solid transparent;
    transition: all 0.5s ease-in-out;
    position: relative;
    z-index: 8;

    &:hover {
        border: 1px solid var(--green);
        background-color: white;
        color: var(--green);
    }

    @include breakpoints(sm) {
        width: fit-content;

    }

    &.reverse {
        background-color: white;
        color: var(--green);
        border: 1px solid var(--green);

        &:hover {
            background-color: var(--green);
            border: 1px solid transparent;
            color: white;
        }
    }
}