header {
    display: flex;
    align-items: center;
    $h : 60px;
    height: $h;
    position: fixed;
    z-index: 60;
    background-color: $white;
    width: 100%;
    .container {
        max-height: 100%;
        .site-branding {
            max-height: 100%;
            img {
                max-height: $h;
                width: auto;
            }
        }
    }
}